repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-toml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: black
        name: black
        language: python
        entry: black
        files: ^.*\.py$
    -   id: ruff
        name: ruff
        language: python
        entry: ruff check
        files: ^.*\.py$
